.scaleTextContainer {
    position: absolute;
    left: 1.25em;
    bottom: 4.25em;
    background-color:#212121;
    min-width: 5.1875em;
    color: #a6a6a6;
    font-weight: 700;
    font-size: 0.75em;
    padding: 0 0.5em;
    text-align: center;
}