<button (click)="toggle()" class="swipeToggleBtn" [ngClass]="{selectedBtn: state.open}">
  <img src="assets/icons/swipe.png" aria-label="swipe layers" />
</button>

<div [hidden]="!state.open" class="swipeWidgetBody basemap-open">
  <div class="widget-title">Swipe Layers</div>
  <fa-icon class="float-right cursor-pointer text-pmlo_secondary" [icon]="faQuestionCircle" (click)="openHelp()"></fa-icon>

  <div class="swipeBodyContainer">
    {{swipeMode === 'horizontal' ? 'Left Layer' : 'Top Layer'}} <br>
    <select [(ngModel)]="firstLayer" aria-label="first layer" (ngModelChange)="changeSwipeLayers('leading')">
      <option *ngFor="let x of texasBasemaps" [value]="x" [disabled]="x === secondLayer">
        {{x}}
      </option>
    </select>

    <br>
    {{swipeMode === 'horizontal' ? 'Right Layer' : 'Bottom Layer'}}<br>
    <select [(ngModel)]="secondLayer" aria-label="second layer" (ngModelChange)="changeSwipeLayers('trailing')">
      <option *ngFor="let x of texasBasemaps" [value]="x" [disabled]="x === firstLayer">
        {{x}}
      </option>
    </select>

  <br>
  Swipe Direction:<br>
    <div class="swipeMode">
      <button (click)="setSwipeMode('horizontal')"  class="swipeDirection" [ngClass]="{swipeSelected: swipeMode === 'horizontal'}">Left-Right</button>
      <button (click)="setSwipeMode('vertical')" class="swipeDirection" [ngClass]="{swipeSelected: swipeMode === 'vertical'}">Top-Bottom</button>
    </div>

  </div>
</div>
