<button (click)="toggle()" class="swipeToggleBtn" [ngClass]="{selectedBtn: state.open}" title="Swipe layers">
  <img src="assets/icons/swipe.png" aria-label="swipe layers" />
</button>

<div [hidden]="!state.open" class="swipeWidgetBody basemap-open">
  <div class="widgetTitle">
    <span class="widgetTitleText">Swipe Layers</span>

    <app-help-button [header]="'Swipe Layers'" [itemName]="'swipe'" [fillColor]="'white'"></app-help-button>
    <i class="widgetCloseBtn ui-icon dt-icon-close" (click)="toggle()"></i>
  </div>

  <div class="swipeBodyContainer">
    {{swipeMode === 'horizontal' ? 'Left Layer' : 'Top Layer'}} <br>
    <select [(ngModel)]="firstLayer" aria-label="first layer" (ngModelChange)="changeSwipeLayers('leading')">
      <option *ngFor="let x of basemaps" [value]="x" [disabled]="x === secondLayer">
        {{x}}
      </option>
    </select>

    <br>
    {{swipeMode === 'horizontal' ? 'Right Layer' : 'Bottom Layer'}}<br>
    <select [(ngModel)]="secondLayer" aria-label="second layer" (ngModelChange)="changeSwipeLayers('trailing')">
      <option *ngFor="let x of basemaps" [value]="x" [disabled]="x === firstLayer">
        {{x}}
      </option>
    </select>

  <br>
  Swipe Direction:<br>
    <div class="swipeMode">
      <button (click)="setSwipeMode('horizontal')"  class="swipeDirection" [ngClass]="{swipeSelected: swipeMode === 'horizontal'}">Left-Right</button>
      <button (click)="setSwipeMode('vertical')" class="swipeDirection" [ngClass]="{swipeSelected: swipeMode === 'vertical'}">Top-Bottom</button>
    </div>

  </div>
</div>
