<nav class="flex items-center justify-between flex-wrap" [ngStyle]="{'background-color': headerColor}">
  <div class="flex items-center flex-shrink-0 text-black mr-6">
    <img src="assets/TFS_Star_Maroon.png" alt="tfs logo" class="logo flex lg:hidden xl:hidden fill-current" />
    <img src="assets/TFS_Maroon.png" alt="tfs logo full" class="logo hidden lg:inline-flex xl:inline-flex  fill-current" />
    <span class="font-semibold sm:text-lg md:text-xl xl:text-2xl tracking-tight ">{{title}}</span>
  </div>
  <div class="block lg:hidden">
    <button aria-label="menu" type="button" (click)="toggleHidden()"
    class="menuButton">
      <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
    </button>
  </div>
  <div class="w-full hidden flex-grow lg:flex lg:items-center lg:w-auto menuContainer" [class.hidden]="isHidden" [class.block]="!isHidden" [ngStyle]="{'background-color': headerColor}">
    <div class="text-sm lg:flex-grow"></div>
    <div>
      <span class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
        <a class="inline" href="javascript:window.open('https://twitter.com/intent/tweet?url='+ window.location.href+ '&hashtags=Maps,Landowner,%20Property', '_blank')" >
        <img src="assets/twitter.png" class="socialMediaIcon inline" alt="share with twitter"/></a>
      <a class="inline"
        href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='+ window.location.href, '_blank')"><img
          src="assets/facebook.png" class="socialMediaIcon inline" alt="share with facebook"/></a>
        </span>
      <a rel="noopener noreferrer cursor-pointer"  class="headerItem" [href]="isAboutVisible ? 'https://texasforestinfo.tamu.edu' : '../'">
        Home
      </a>
      <a *ngIf="isAboutVisible" href="../about" class="headerItem cursor-pointer" target="_blank" rel="noopener noreferrer">
        About
      </a>
      <a class="headerItem cursor-pointer" href="https://texasforestinfo.tamu.edu/Contact" target="_blank" rel="noopener">
        Contact
      </a>
      <a *ngIf="isHelpVisible" class="headerItem cursor-pointer" (click)="openHelp()">
        Help
      </a>
    </div>
  </div>
</nav>
