.title {
  font-weight: 500;
}
.headerItem{
  @apply block mt-4 text-black mr-4;
}

.headerItem:hover {
  @apply text-gray-700;
}
@screen lg{
  .headerItem {
    @apply inline-block mt-0;
  }
}

.menuButton {
  @apply flex items-center;
}

.menuButton:hover {
  @apply text-gray-800 border-blue-400;
}

.logo {
  height: 32px;
  padding-right: 10px;
}
.spacer {
  flex: 1 1 auto;
}

.menuBtn {
  display: none;
}
.socialMediaIcon {
  height: 20px;
  margin-right: 10px;
}

.socialMediaIcon:hover {
  filter: opacity(0.5) drop-shadow(2px 4px 6px black);
}

@media only screen and (max-width: 1024px) {
  .menuContainer {
    position: absolute;
    top: 47px;
    z-index: 10000;
    left: 0;
    padding-bottom: 10px;
    // background-color: #b0ba89;
  }
  .menuContainer .headerItem {
    text-align: right;
    font-weight: 600;
  }
  .menuContainer span {
    text-align: right;
    margin-right: 0;
}
}

nav{
  padding: 5px 15px 5px 10px;
}
