<div class="py-3 relative">
  <app-help-button [header]="'Map Themes'" [itemName]="'themes'"></app-help-button> <br />
  <div>
    <div>
      <input
        id="soilsTheme"
        type="radio"
        name="mapTheme"
        [value]="'soils'"
        [(ngModel)]="selectedTheme"
        (change)="themeChanged('soils')"
      />
      <label for="soilsTheme">Soils</label><br />
      <input
        type="radio"
        id="vegetationTheme"
        name="mapTheme"
        [value]="'vegetation'"
        [(ngModel)]="selectedTheme"
        (change)="themeChanged('vegetation')"
      />
      <label for="vegetationTheme">Texas Vegetation</label><br />
      <input
        type="radio"
        id="geologyTheme"
        name="mapTheme"
        [value]="'geology'"
        [(ngModel)]="selectedTheme"
        (change)="themeChanged('geology')"
      />
      <label for="geologyTheme">exas Geology</label><br />

    </div>

    <div class="row prl-10 mt-8">
      <label class="inline-flex cursor-pointer" [ngClass]="{ checkboxDisabled: isVisibleDisabled }">
        <input
          type="checkbox"
          class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary cursor-pointer"
          [ngClass]="{ 'cursor-not-allowed': isVisibleDisabled }"
          (change)="themeVisibleChanged($event.currentTarget.checked)"
          [disabled]="isVisibleDisabled"
        />
        <span class="checkbox-label">Visible</span>
      </label>
    </div>
    <div class="row prl-10">
      <label class="inline-flex cursor-pointer" [ngClass]="{ checkboxDisabled: isIdentifyDisabled }">
        <input
          #identifyCheckbox
          type="checkbox"
          class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary cursor-pointer"
          [ngClass]="{ 'cursor-not-allowed': isIdentifyDisabled }"
          (change)="themeIdentifyChanged($event.currentTarget.checked)"
          [disabled]="isIdentifyDisabled"
        />
        <span class="checkbox-label">Identify</span>
      </label>
    </div>


      <div class="pt-3">Transparency: {{transparency}}%</div>
  <div class="flex justify-between items-baseline pb-1">
    <div>0</div>
    <app-slider [value]="transparency" (onChange)="transparencyChanged($event)" [min]="0" [max]="100" [steps]="5"
      class="transparencySlider">
    </app-slider>
    <div>100</div>
  </div>

  <div class="flex justify-center mt-3">
    <button type="button" class="pmlo-btn pmlo-secondary generalBtn"
      (click)="clipSelectedTheme()">Clip</button>
  </div>

</div>
