.drawBtn {
  padding: 0 5px;
}

.themesBody {
  width: min(55%, 200px);
    margin: auto;

    [type=checkbox], [type=radio] {
      box-sizing: border-box;
      padding: 0;
      /* padding-right: 45px; */
      margin-right: 5px;
  }
}
