$pmloPrimaryPalette: (
  50 : #f2f0ec,
  100 : #dddad1,
  200 : #c7c1b2,
  300 : #b1a893,
  400 : #a0967b,
  500 : #8f8364,
  600 : #877b5c,
  700 : #7c7052,
  800 : #726648,
  900 : #605336,
  translucent: rgba(143, 131, 100, 0.5),
  A100 : #ffe6b2,
  A200 : #ffd67f,
  A400 : #ffc64c,
  A700 : #ffbe32,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : red,
      700 : red,
      800 : red,
      900 : red,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
  // 50: #eeeada,
  // 100: #d2c9b5,
  // 200: #b1a58c,
  // 300: #8f8364,
  // 400: #776946,
  // 500: #5e5128,
  // 600: #554722,
  // 700: #483b1a,
  // 800: #3c2e12,
  // 900: #2f2103,
  // translucent: rgba(143, 131, 100, 0.5),
  // A100: #d4ff7b,
  // A200: #c3ff48,
  // A400: #b2ff15,
  // A700: #a8fa00,
  // contrast: (
  //   50: #000000,
  //   100: #000000,
  //   200: #000000,
  //   300: #000000,
  //   400: #ffffff,
  //   500: #ffffff,
  //   600: #ffffff,
  //   700: #ffffff,
  //   800: #ffffff,
  //   900: #ffffff,
  //   A100: #000000,
  //   A200: #000000,
  //   A400: #000000,
  //   A700: #000000,
  // )
);

$pmloSecondaryPalette: (
  50 : #e7e7e7,
  100 : #c2c2c2,
  200 : #9a9a9a,
  300 : #727272,
  400 : #535353,
  500 : #353535,
  600 : #303030,
  700 : #282828,
  800 : #222222,
  900 : #161616,
  A100 : #ef6f6f,
  A200 : #ea4141,
  A400 : #f80000,
  A700 : #df0000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
  // 50: #e7e7e7,
  // 100: #c2c2c2,
  // 200: #9a9a9a,
  // 300: #727272,
  // 400: #535353,
  // 500: #353535,
  // 600: #303030,
  // 700: #282828,
  // 800: #222222,
  // 900: #161616,
  // A100: #ef6f6f,
  // A200: #ea4141,
  // A400: #f80000,
  // A700: #df0000,
  // contrast: (
  //   50: #000000,
  //   100: #000000,
  //   200: #000000,
  //   300: #ffffff,
  //   400: #ffffff,
  //   500: #ffffff,
  //   600: #ffffff,
  //   700: #ffffff,
  //   800: #ffffff,
  //   900: #ffffff,
  //   A100: #000000,
  //   A200: #ffffff,
  //   A400: #ffffff,
  //   A700: #ffffff,
  // ),
);
