<fieldset>
    <legend>Text Style</legend>

    <app-infobutton [tooltip]="'Specifies how the text is styled.'" [ariaLabel]="'Show info about text styling'">
    </app-infobutton>

    <div class="flex verticalCenter">
        <div> Font:</div>
        <select [(ngModel)]="textProps.font.family" class="matSelect" (selectionChange)="changeFontFamily()">
          <option *ngFor="let font of fontFamilyOptions" [ngValue]="font">{{font}}</option>
        </select>
    </div>
    <div class="flex fontStyle">
        <button class="fontButtons" mat-raised-button [ngClass]="{buttonActive: textProps.font.weight === 'bold'}"
            (click)="toggleFontWeight()"><b>B</b></button>
        <button class="fontButtons" mat-raised-button
            [ngClass]="{buttonActive: textProps.font.decoration === 'underline'}"
            (click)="toggleFontDecoration()"><u>U</u></button>
        <button class="fontButtons" mat-raised-button [ngClass]="{buttonActive: textProps.font.style === 'italic'}"
            (click)="toggleFontStyle()"><i>I</i></button>
    </div>
    <div class="flex colorDiv verticalCenter">Color:
        <app-color-picker [color]="textProps.color" [opacity]="textProps.color.a * 100"
            (colorSelected)="changeTextColor($event)">
        </app-color-picker>
    </div>
    <div class="marginTop10px">
        Font Size: {{textProps.font.size}}<br>
        0 &nbsp;<mat-slider class="widthSlider mat-slider-has-ticks" [thumbLabel]="true" step="5"
            (change)="changeFontSize()" [(ngModel)]="fontSize" min="0" max="50">
        </mat-slider> &nbsp;50
    </div>


</fieldset>
