@import '../../styles/sidebar.scss';

.fontStyle {
  justify-content: center;
  margin-top: 10px;
}

.verticalCenter {
  align-items: center;
}
.matSelect {
  margin-left: 10px;
}
.colorDiv {
  margin-top: 10px;
}
.marginTop10px {
    margin-top: 10px;
}