@import '@angular/material/_theming.scss';
@import '../variables/mmp.theme.colors.scss';

$mmp-primary: mat-palette($mmpPrimaryPalettee);
$mmp-accent: mat-palette($mmpSecondaryPalettee);
$mmp-warn: mat-palette($mat-red);