<div class="py-3">
  <app-help-button [header]="'Culvert Size'" [itemName]="'culvert'"></app-help-button>
  <br>
  <div class="centerAlign">
    <div class="btn-group">
      <input type="button" [disabled]="isPopupVisible"  [ngClass]="{'drawCulvertActive': isCulvertToolActive}"
      class="pmlo-btn pmlo-secondary generalBtn" aria-label="point" value="Draw Point"
        (click)="drawPourPoint()" /><br>
      <!-- <button class='pmlo-btn pmlo-secondary generalBtn' (click)="clearCulvertTool()" [disabled]="!isCulvertToolActive">
        Clear
      </button> -->
    </div>
  </div>
</div>

<app-modal #errorModal [maximizable]="false" [backdrop]="true"
  [headerBackgroundColor]="'red'" (closeModal)="closeError()">
  <ng-container class="app-modal-header">Error</ng-container>
  <ng-container class="app-modal-body">
    An error occured while processing your request. Please try again.
  </ng-container>
</app-modal>

<app-modal #culvertModal [maximizable]="false" [backdrop]="false" (closeModal)="clearCulvertTool()" [showFooter]="true"
  [headerBackgroundColor]="headerBgColor">
  <ng-container class="app-modal-header bg-pmlo_secondary">Watershed Properties</ng-container>
  <ng-container class="app-modal-body">

    Area (Acres): {{culvertData.POLY_AREA | number: '1.2'}}<br>
    Mean Slope (%): {{culvertData.Avg_Slope | number: '1.2'}}<br>
    Soil Texture: {{culvertData.SoilTexture}}<br>
    Sand (%): {{culvertData.Sand_WA | number: '1.2'}}<br>
    Silt (%): {{culvertData.Silt_WA | number: '1.2'}}<br>
    Clay (%): {{culvertData.Clay_WA | number: '1.2'}}<br>
    Recommended Minimum Culvert Diameter: {{culvertData.CulvertSize}}<br>
  </ng-container>
  <ng-container class="app-modal-footer">
    <span class="createreportBar">
      <label class="inline-block text-gray-700 text-sm font-bold mb-2 mr-2" for="elevationProfileTitle">
        Project Name:
      </label>
      <input
        class="shadow appearance-none border rounded w-150 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring mr-2"
        aria-label="project name" type="text" [(ngModel)]="culvertReportTitle" maxlength="40" />
      <button (click)="createReport()" class="pmlo-btn pmlo-secondary py-2 px-4">Create Report</button>
    </span>
  </ng-container>
</app-modal>



