$right: 1em;

.layersToggleBtn {
  position: absolute;
  top: calc(1.5em + var(--map-button-height));
  right: $right;
  height: var(--map-button-height);
  width: var(--map-button-width);
}

.layersToggleBtn.selectedBtn {
  box-sizing: border-box;
  border: 2px solid cyan;
}

.layersBody {
  position: absolute;
  top: calc(4em + 3em);
  right: $right;
  max-height: 27.5em;
  width: 18em;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #0000009c;
  z-index: 1;
}

.layersContent {
  padding: 0.5em 0.5em;
}

.legendTable {
  margin-left: 1em;
}
.layersContentLarge {
  width: 22em !important;
}
