<div class="py-3">
  <mat-icon class="smallIcon right">help</mat-icon>
</div>
<div>
  <div class="centerAlign">
    <mat-button-toggle-group (change)="startDrawingGraphics($event.value)" class="toggleBtnGroup">
      <mat-button-toggle value="polyline" aria-label="Line" class="toggleBtn">
        Draw Line
      </mat-button-toggle>
      <span> &nbsp;</span>
      <mat-button-toggle value="freehand" aria-label="Point" class="toggleBtn">
        Draw FreeHand
      </mat-button-toggle>

    </mat-button-toggle-group>

    <br>
    <div class="centerAlign">
      <label class="inline-flex items-center mt-3">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-mmp_primary" [(ngModel)]="baseMSL">
        <span class="ml-2 text-black">Base Sea Level</span>
      </label>
    </div>
    <br>

    <div class="centerAlign">
      <button mat-raised-button color="accent" (click)="clearElevationProfile()"
        [disabled]="!isElevationProfileToolActive">
        Clear
      </button>
    </div>
  </div>
  <br>
</div>
