.btn-group input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.btn-group input[type="radio"]:checked + label {
  border: 2px solid #00feea;
}

.btn-group label {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.profileDirection {
  height: 35px;
  width: 35px;
  font-size: 25px;
  margin-left: 20px;
}

.createreportBar {
  float: right;
  margin-right: 20px;
}

.slopeIndicator {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: 20px;
}
.createReportBtn {
  height: auto;
}
