<div class="py-3">
  <fa-icon class="float-right cursor-pointer text-pmlo_secondary" [icon]="faQuestionCircle"></fa-icon>
  <br>
  <div class="centerAlign">
    <div>
      <ul class="btn-group">
        <li>
          <input type="radio" id="draw_line" name="amount" [value]="'polyline'" aria-label="Line"
            (ngModelChange)="startDrawingGraphics($event)" [(ngModel)]="drawTool" />
          <label for="draw_line" class="pmlo-secondary shadow-none">Draw Line</label>
        </li>
        <li>
          <input type="radio" id="draw_freehand" name="amount" [value]="'freehand'" aria-label="Point"
            (ngModelChange)="startDrawingGraphics($event)" [(ngModel)]="drawTool" />
          <label for="draw_freehand"  class="pmlo-secondary shadow-none">Draw FreeHand</label>
        </li>
      </ul>
    </div>
    <br>
    <div class="centerAlign">
      <label class="inline-flex items-center mt-3">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-mmp_primary" [(ngModel)]="isMSL">
        <span class="ml-2 text-black">Base Sea Level</span>
      </label>
    </div>
    <br>

    <div class="centerAlign">
      <button class='pmlo-btn pmlo-secondary py-2 px-4' (click)="clearElevationProfile()"
        [disabled]="!isElevationProfileToolActive">
        Clear
      </button>
    </div>


  </div>
</div>

<app-modal #elevationProfileModal [maximizable]="false" [backdrop]="true"
  (closeModal)="modelClosed()" (resizeEnd)="onResizeEnd($event)" [headerBackgroundColor]="headerBgColor">
  <ng-container class="app-modal-header bg-pmlo_secondary">Elevation Profile</ng-container>
  <ng-container class="app-modal-body">
    <div #mapViewNode style="height: 340px; width: 100%;position: relative;">
      <div id="gd">
      </div>
    </div>
    <span class="slopeIndicator">
      <svg height="25" width="25">
        <line x1="0" y1="12" x2="25" y2="12" style="stroke:rgb(255,0,0);stroke-width:4" />
      </svg>
      &nbsp;&nbsp;Steep slope &gt; {{slopeThreshold}}%
    </span>
  </ng-container>
  <ng-container class="app-modal-footer">
    <button (click)="reverseProfile()" class="generalBtn tooltip profileDirection" title="reveser">
      <span class="{{isReversed ? 'icon-arrow-right': 'icon-arrow-left'}} text-black"></span>

      <span class='tooltip-text bg-gray-700 w-100 p-3 -mt-6 -ml-6 rounded'>Profile Direction: {{isReversed ? 'Reverse': 'Forward'}}<br>Click to flip Profile Direction</span>
    </button>

    <span class="createreportBar">
      <label class="inline-block text-gray-700 text-sm font-bold mb-2 mr-2" for="elevationProfileTitle">
        Project Name:
      </label>
      <input class="shadow appearance-none border rounded w-150 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2" id="elevationProfileTitle" aria-label="project name" type="text"/>
      <button (click)="createReport()" class="pmlo-btn pmlo-secondary py-2 px-4">Create Report</button>
    </span>
  </ng-container>
</app-modal>
