<div class="py-3">
  <fa-icon class="float-right cursor-pointer text-pmlo_secondary" [icon]="faQuestionCircle"></fa-icon>
  <br>
  <div class="centerAlign">
    <div>
      <ul class="btn-group">
        <li>
          <input type="radio" id="draw_line" name="amount" [value]="'polyline'" aria-label="Line"
            (ngModelChange)="startDrawingGraphics($event)" [(ngModel)]="drawTool" />
          <label for="draw_line" class="pmlo-btn pmlo-secondary generalBtn">Draw Line</label>
        </li>
        <li>
          <input type="radio" id="draw_freehand" name="amount" [value]="'freehand'" aria-label="Point"
            (ngModelChange)="startDrawingGraphics($event)" [(ngModel)]="drawTool" />
          <label for="draw_freehand">Draw FreeHand</label>
        </li>
      </ul>
    </div>
    <br>
    <div class="centerAlign">
      <label class="inline-flex items-center mt-3">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-mmp_primary" [(ngModel)]="isMSL">
        <span class="ml-2 text-black">Base Sea Level</span>
      </label>
    </div>
    <br>

    <div class="centerAlign">
      <button mat-raised-button color="accent" (click)="clearElevationProfile()"
        [disabled]="!isElevationProfileToolActive">
        Clear
      </button>
    </div>


  </div>
</div>

<app-modal #elevationProfileModal [maximizable]="false" [backdrop]="true"
  (closeModal)="modelClosed()" (resizeEnd)="onResizeEnd($event)">
  <ng-container class="app-modal-header">Elevation Profile</ng-container>
  <ng-container class="app-modal-body">
    <div #mapViewNode style="height: 340px; width: 100%;position: relative;">
      <div id="gd">
      </div>
    </div>
  </ng-container>
  <ng-container class="app-modal-footer">
    <button (click)="reverseProfile()" class="profileDirection" title="reveser">
      <i title="reveser" class="fas fa-arrow-left"></i> Reverse {{isReversed}}
    </button>

    <span class="createreportBar">
      <b> Project Name: </b>
      <input type="text" id="elevationProfileTitle" class="titleInput" aria-label="project name" />
      <button (click)="createReport()" class="createReportBtn">Create Report</button>
    </span>
  </ng-container>
</app-modal>
