.toggleBtn {
    border: 1px solid;
    width: 110px;
}
.toggleBtnGroup {
    padding: 2px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';