<div #sidebar class="sidebarBlanket" [class.sidebarHidden]="!sidebarVisible">
  <div class="sidebar">
    <button class="sidebarToggle" (click)="sidebarVisible = !sidebarVisible" [class.sideOpen]="sidebarVisible">
      <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" *ngIf="sidebarVisible"
       viewBox="0 0 448 512" class="showHideSvg rotate90" ><path
        d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>
      {{sidebarVisible ? 'Hide': 'Show'}}
      <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" *ngIf="!sidebarVisible"
       viewBox="0 0 448 512" class="showHideSvg rotate270" ><path
        d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>
      </button>

      <app-accordion>
        <app-accordion-panel #drawAccPanel panelTitle="Draw">
          <app-drawtools [sketchVM]="sketchVM" [mapView]="mapView" [textGraphicsLayer]="textGraphicsLayer"
            [geomLabelsSketchVM]="geomLabelsSketchVM" [geomLabelsGraphicsLayer]="geomLabelsGraphicsLayer"
            [geomLabelsGraphicsLayer]="geomLabelsGraphicsLayer" [polygonGraphicsLayer]="polygonGraphicsLayer"
            [generalSketchVM]="generalSketchVM"
            >
          </app-drawtools>
        </app-accordion-panel>

        <app-accordion-panel #sensAreasAccPanel panelTitle="Sensitive Areas">
          <pmlo-sens-areas [mapView]="mapView"></pmlo-sens-areas>
        </app-accordion-panel>

        <app-accordion-panel #soilsAccPanel panelTitle="Soils">
          <pmlo-soils [mapView]="mapView" #soilsComponent></pmlo-soils>
        </app-accordion-panel>

        <app-accordion-panel #harvestAccPanel panelTitle="Operational Considerations">
          <pmlo-harvest-operations [mapView]="mapView"></pmlo-harvest-operations>
        </app-accordion-panel>

        <app-accordion-panel #regenerationAccPanel panelTitle="Regeneration">
          <pmlo-regeneration-operations [mapView]="mapView"></pmlo-regeneration-operations>
        </app-accordion-panel>

        <app-accordion-panel #elevationAccPanel panelTitle="Elevation Profile">
          <app-elevation-profile [mapView]="mapView" [sketchVM]="sketchVM" #elevationProfileComponent
          [generalSketchVM]="generalSketchVM"></app-elevation-profile>
        </app-accordion-panel>

        <app-accordion-panel #culvertAccPanel panelTitle="Culvert Size">
          <app-culvert-size [mapView]="mapView" #culvertSizeComponent></app-culvert-size>
        </app-accordion-panel>

        <app-accordion-panel #importExportAccPanel panelTitle="Import | Export">
          <app-import-export [mapView]="mapView"></app-import-export>
        </app-accordion-panel>

        <app-accordion-panel #exportMapAccPanel panelTitle="Export Map to PDF">
          <app-print-tool [mapView]="mapView" [sketchVM]="sketchVM"></app-print-tool>
        </app-accordion-panel>

      </app-accordion>

      <app-site-policies></app-site-policies>
  </div>

</div>
<div class="mapBlanket">
  <div class="headerBlanket hidden md:block">
    <div class="header headerRow secondary">
      <div class="flex items-center">
        <div #searchBar class="mr-2"></div>
        <app-help-button [header]="'Find Location'" [itemName]="'search'" [fillColor]="'white'"></app-help-button>
      </div>
      <div class="coordsDisplay hidden md:inline">
        Mouse Coordinates [ <span [innerHTML]="mapCoords"></span> ]
      </div>
    </div>
  </div>
  <div class="translucentPadding mapViewNodeBlanket pmloMap">
    <div #mapViewNode class="mapViewNode " id="parent">
      <div id="textboxes"></div>
      <app-basemap-widget [mapView]="mapView"></app-basemap-widget>
      <app-overlay-layers-widget [mapView]="mapView" [colorPrefix]="'pmlo'"></app-overlay-layers-widget>
      <app-swipe-widget [mapView]="mapView"></app-swipe-widget>
      <app-measurement-widget [mapView]="mapView"></app-measurement-widget>
      <app-scale-text></app-scale-text>
    </div>
    <app-graphic-store #graphicsStore [sketchVM]="sketchVM" [textGraphicsLayer]="textGraphicsLayer"
      class="graphicsControls">
    </app-graphic-store>
  </div>
</div>

<app-modal class="pmloModal pmloSoilsTable" #soilsTableModal [maximizable]="false" [backdrop]="false"
  [inViewport]="true">
  <ng-container class="app-modal-header">Soils Within Project Area</ng-container>
  <ng-container class="app-modal-body">
    <pmlo-soils-table></pmlo-soils-table>
  </ng-container>
</app-modal>

<app-modal class="pmloModal notificationsModal" #notificationsModal [maximizable]="false" [inViewport]="true">
  <ng-container class="app-modal-header">{{notificationHeader}}</ng-container>
  <ng-container class="app-modal-body">
    <p [innerHTML]="notificationBody"></p>
  </ng-container>
</app-modal>

<app-modal class="pmloModal helpModal" #helpModal [maximizable]="false" [backdrop]="false" [inViewport]="true" [isHelpModal]="true" [isOverflowXHidden]="true">
  <ng-container class="app-modal-header">{{helpHeader}}</ng-container>
  <ng-container class="app-modal-body" [ngSwitch]="helpItem">
    <ng-container *ngSwitchCase="'draw'">
      <app-draw-help></app-draw-help>
    </ng-container>

    <ng-container *ngSwitchCase="'sensAreas'">
      <pmlo-sens-areas-help></pmlo-sens-areas-help>
    </ng-container>

    <ng-container *ngSwitchCase="'soils'">
      <pmlo-soils-help></pmlo-soils-help>
    </ng-container>

    <ng-container *ngSwitchCase="'harvOperations'">
      <pmlo-harvest-operations-help></pmlo-harvest-operations-help>
    </ng-container>

    <ng-container *ngSwitchCase="'regOperations'">
      <pmlo-regeneration-operations-help></pmlo-regeneration-operations-help>
    </ng-container>

    <ng-container *ngSwitchCase="'elevation'">
      <app-elevation-help></app-elevation-help>
    </ng-container>

    <ng-container *ngSwitchCase="'culvert'">
      <pmlo-culvert-help></pmlo-culvert-help>
    </ng-container>

    <ng-container *ngSwitchCase="'importExport'">
      <app-import-export-help></app-import-export-help>
    </ng-container>

    <ng-container *ngSwitchCase="'exportMap'">
      <app-export-map-help></app-export-map-help>
    </ng-container>

    <ng-container *ngSwitchCase="'layers'">
      <app-layers-help></app-layers-help>
    </ng-container>

    <ng-container *ngSwitchCase="'swipe'">
      <app-swipe-help></app-swipe-help>
    </ng-container>

    <ng-container *ngSwitchCase="'basemaps'">
      <app-basemaps-help></app-basemaps-help>
    </ng-container>

    <ng-container *ngSwitchCase="'search'">
      <app-search-widget-help></app-search-widget-help>
    </ng-container>

    <ng-container *ngSwitchCase="'measurement'">
      <app-measurement-widget-help></app-measurement-widget-help>
    </ng-container>

    <ng-container *ngSwitchCase="'gettingStartedTour'">
      <pmlo-overall-help></pmlo-overall-help>
    </ng-container>
  </ng-container>
</app-modal>

<app-modal class="pmloModal sessionModal" #sessionModal [maximizable]="false" [inViewport]="true" (closeModal)="restoreSession(null)">
  <ng-container class="app-modal-header">Restore previous session?</ng-container>
  <ng-container class="app-modal-body">
    This application was closed while you had some drawings. <br> Would you like to restore those drawings?
    <br><br>
    <div class="sessionBtns">
      <button (click)="restoreSession(true)" class="pmlo-btn pmlo-secondary sessionBtn py-2 px-4">Restore</button>
      <button (click)="restoreSession(false)" class="pmlo-btn pmlo-secondary sessionBtn py-2 px-4">Start New</button>
    </div>
  </ng-container>

</app-modal>
