@import "../../shared/styles/BodyFrame.scss";

$translucent: rgba(143, 131, 100, 0.5);
$accent: rgb(53,53,53);

.headerRow {
  background-color: $translucent;
  display: flex;
}
.secondary {
  background-color: $accent;
}

.sidebar {
  background-color: $accent;
  overflow-y: auto;
}

.headerBlanket,
.translucentPadding,
.sidebarBlanket {
  background-color: $translucent;
}
