<div #sidebar class="sidebarBlanket">
  <div class="sidebar">
    <app-sidebar>
      <app-accordion>
        <app-accordion-panel #drawAccPanel title="Draw">
          <app-drawtools [sketchVM]="sketchVM" [mapView]="mapView" [textGraphicsLayer]="textGraphicsLayer"
          >
          </app-drawtools>
        </app-accordion-panel>

        <app-accordion-panel #sensAreasAccPanel title="Sensitive Areas">
          <pmlo-sens-areas [mapView]="mapView"></pmlo-sens-areas>
        </app-accordion-panel>

        <app-accordion-panel #soilsAccPanel title="Soils">
          <pmlo-soils [mapView]="mapView"></pmlo-soils>
        </app-accordion-panel>

        <app-accordion-panel #harvestAccPanel title="Harvest Operations">
          <pmlo-harvest-operations [mapView]="mapView"></pmlo-harvest-operations>
        </app-accordion-panel>

        <app-accordion-panel #regenerationAccPanel title="Regeneration Operations">
          <pmlo-regeneration-operations [mapView]="mapView"></pmlo-regeneration-operations>
        </app-accordion-panel>

        <app-accordion-panel #elevationAccPanel title="Elevation Profile">
          <app-elevation-profile [mapView]="mapView"></app-elevation-profile>
        </app-accordion-panel>

        <app-accordion-panel #culvertAccPanel title="Culvert Size">
          <app-culvert-size [mapView]="mapView"></app-culvert-size>
        </app-accordion-panel>

        <app-accordion-panel #importExportAccPanel title="Import | Export">
          <app-import-export></app-import-export>
        </app-accordion-panel>

        <app-accordion-panel #exportMapAccPanel title="Export Map to PDF">
          <app-print-tool [map]="mapView"></app-print-tool>
        </app-accordion-panel>

      </app-accordion>
    </app-sidebar>
  </div>

</div>
<div class="mapBlanket">
  <div class="headerBlanket">
    <div class="header headerRow secondary">
      <div #searchBar></div>
      <div class="coordsDisplay">
        Mouse Coordinates [ {{mapCoords}} ]
      </div>
    </div>
  </div>
  <div class="translucentPadding mapViewNodeBlanket pmloMap">
    <div #mapViewNode class="mapViewNode " id="parent">
      <div id="textboxes"></div>
      <app-basemap-widget [mapView]="mapView"></app-basemap-widget>
    </div>
    <app-graphic-store #graphicsStore [sketchVM]="sketchVM"
      [textGraphicsLayer]="textGraphicsLayer" class="graphicsControls">
    </app-graphic-store>
  </div>
</div>

<app-modal class="pmloModal pmloSoilsTable" #soilsTableModal [maximizable]="false" [backdrop]="false" [inViewport]="true">
  <ng-container class="app-modal-header">Soils Within Project Area</ng-container>
  <ng-container class="app-modal-body">
    <pmlo-soils-table></pmlo-soils-table>
  </ng-container>
</app-modal>

<app-modal class="pmloModal notificationsModal" #notificationsModal [maximizable]="false" [inViewport]="true">
  <ng-container class="app-modal-header">{{notificationHeader}}</ng-container>
  <ng-container class="app-modal-body">
    <p [innerHTML]="notificationBody"></p>
  </ng-container>
</app-modal>

<app-modal class="pmloModal helpModal" #helpModal [maximizable]="false" [backdrop]="false" [inViewport]="true">
  <ng-container class="app-modal-header">{{helpHeader}}</ng-container>
  <ng-container class="app-modal-body" [ngSwitch]="helpItem">
    <ng-container *ngSwitchCase="'draw'"></ng-container>

    <ng-container *ngSwitchCase="'sensAreas'">
      <pmlo-sens-areas-help></pmlo-sens-areas-help>
    </ng-container>

    <ng-container *ngSwitchCase="'soils'">
      <pmlo-soils-help></pmlo-soils-help>
    </ng-container>

    <ng-container *ngSwitchCase="'harvOperations'">
      <pmlo-harvest-operations-help></pmlo-harvest-operations-help>
    </ng-container>

    <ng-container *ngSwitchCase="'regOperations'">
      <pmlo-regeneration-operations-help></pmlo-regeneration-operations-help>
    </ng-container>

    <ng-container *ngSwitchCase="'elevation'">
      <pmlo-elevation-help></pmlo-elevation-help>
    </ng-container>

    <ng-container *ngSwitchCase="'culvert'">
      <pmlo-culvert-help></pmlo-culvert-help>
    </ng-container>

    <ng-container *ngSwitchCase="'importExport'"></ng-container>

    <ng-container *ngSwitchCase="'exportMap'"></ng-container>
  </ng-container>
</app-modal>
