@import url('https://js.arcgis.com/4.16/esri/css/main.css');
@import "../../shared/styles/BodyFrame.scss";

@import '../../shared/styles/palettes/pmlo.theme.palette.scss';

$translucent: mat-color($pmlo-primary, translucent);
$accent: mat-color($pmlo-accent);

.headerRow {
  background-color: $translucent;
  display: flex;
}
.secondary {
  background-color: $accent;
}
.sidebarBlanket {
  background-color: $translucent;
}

.sidebar {
  background-color: $accent;
  overflow-y: auto;
}
.translucentPadding {
  background-color: $translucent;
}

.headerBlanket {
  background-color: $translucent;
}

.translucentPadding {
  background-color: $translucent;
}

.headerBlanket {
  background-color: $translucent;
}
