<div #sidebar class="sidebarBlanket">
    <div class="sidebar">
        <app-sidebar>
                <app-drawtools [sketchVM]="sketchVM" [mapView]="mapView" [textGraphicsLayer]="textGraphicsLayer">
                </app-drawtools>
                <pmlo-sens-areas [mapView]="mapView"></pmlo-sens-areas>
                <pmlo-soils [mapView]="mapView"></pmlo-soils>
        </app-sidebar>
    </div>

</div>
<div class="mapBlanket">
    <div class="headerBlanket">
        <div class="header headerRow secondary" fxLayout="row">
            <div #searchBar></div>
            <div class="coordsDisplay">
                Mouse Coordinates [ {{mapCoords}} ]
            </div>
        </div>
    </div>
    <div class="translucentPadding mapViewNodeBlanket">
        <div #mapViewNode class="mapViewNode " id="parent">
            <div id="textboxes"></div>
        </div>
        <app-graphic-store #graphicsStore [sketchVM]="sketchVM" 
        [selectedGraphics]="selectedGraphics"
        [textGraphicsLayer] ="textGraphicsLayer"
            class="graphicsControls">
        </app-graphic-store>
    </div>
</div>