<mat-expansion-panel #sensAreaToolHeader (opened)="opened()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Sensitive Areas
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="py-3">
        <mat-icon class="smallIcon right">help</mat-icon>
        <br>
        <ng-container *ngIf="state == 'noBoundary'">
            <p>A drawn boundary is needed to be able to calculate sensitive areas.</p>
        </ng-container>
        <ng-container *ngIf="state == 'clipping'">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <p>Clipping Sensitive Areas...</p>
            <p>The clipping of the sensitive areas is in progress. Pleas wait.</p>
        </ng-container>
        <ng-container *ngIf="state == 'clipped'">
            <div>
                Transparency<br>    
            </div>
            <div>0 &nbsp;<mat-slider class="widthSlider mat-slider-has-ticks" [thumbLabel]="true" step="5" min="0" max="100">
            </mat-slider> &nbsp;100</div>
            <div class="row">
                <div class="plusSign"></div>
                <mat-checkbox>Streams</mat-checkbox>
                <div class="saSymbol streamLegend">
                    <div class="streamColor">&ndash;&ndash;&ndash;</div>
                </div>
            </div>
            <div class="row">
                <div class="plusSign" (click)="streamCollapsed = !streamCollapsed">
                    <span *ngIf="streamCollapsed">+</span>
                    <span *ngIf="!streamCollapsed">&ndash;</span>
                </div>
                <mat-checkbox>Streams Buffers (SMZ)</mat-checkbox>
                <div class="saSymbol smzBack"></div>
            </div>
            <div class="row" *ngIf="!streamCollapsed">
                <div class="subMenuContainer">
                    <mat-form-field class="example-form-field">
                        <mat-label>Feet</mat-label>
                        <input matInput type="number" value="50">
                      </mat-form-field>
                </div>
                <button mat-raised-button color="accent" class="pmlo-button">Buffer</button>
            </div>
            <div class="row">
                <div class="plusSign" (click)="slopeCollapsed = !slopeCollapsed">
                    <span *ngIf="slopeCollapsed">+</span>
                    <span *ngIf="!slopeCollapsed">&ndash;</span>
                </div>
                <mat-checkbox>Severe Slopes (>8%)</mat-checkbox>
                <div class="saSymbol slopeBack"></div>
            </div>
            <div class="row" *ngIf="!slopeCollapsed">
                <div class="subMenuContainer">
                    <span class="prefix-margin">&lt;</span>
                    <mat-form-field class="example-form-field">
                        <mat-label>Percent</mat-label>
                        <input matInput type="number" value="8">
                      </mat-form-field>
                </div>
                <button mat-raised-button color="accent" class="pmlo-button">Set</button>
            </div>
            <div class="row">
                <div class="plusSign" (click)="wetCollapsed = !wetCollapsed">
                    <span *ngIf="wetCollapsed">+</span>
                    <span *ngIf="!wetCollapsed">&ndash;</span>
                </div>
                <mat-checkbox>Wet Areas</mat-checkbox>
                <div class="saSymbol wetBack"></div>
            </div>
            <div class="row" *ngIf="!wetCollapsed">
                <div class="subMenuContainer">
                    <mat-form-field class="example-form-field">
                        <mat-label>Feet</mat-label>
                        <input matInput type="number" value="50">
                      </mat-form-field>
                </div>
                <button mat-raised-button color="accent" class="pmlo-button">Buffer</button>
                <div class="saSymbol wetBufferBack"></div>
            </div>
    
            <div class="row mt-3">
                <button mat-raised-button class="pmlo-button generalBtn">Clear Layer</button>
            </div>
            <div class="row mt-3">
                <button mat-raised-button color="accent" class="pmlo-button generalBtn">Create a Report</button>
            </div>
        </ng-container>
    </div>


</mat-expansion-panel>