<main class="parentContainer">
    <app-header [headerColor]="'rgb(199 193 177)'" [title]="'Plan My Land Operation'" [isAboutVisible]="false" [isHelpVisible]="false"></app-header>

    <div class="aboutBody mx-5 mb-5 bg-pmlo_secondary flex justify-center">
        <div class="container mx-2 text-white justify-between flex flex-col">
            <div class="mb-3">
                <h1 class="text-2xl text-center font-bold">About Plan My Land Operation</h1>
                <p class="mt-4">The <a href="/" target="_blank" rel="noopener noreferrer">Plan My Land Operation</a> application is a mechanism for the Texas A&M Forest Service to provide users with tools to
                    locate and map their project area, identify sensitive areas including streams, wet areas, and steep slopes, buffer
                    these special features, determine operational characteristics of mapped soil types such as rutting potential and
                    erosion hazard, calculate the culvert size needed for a selected point, and determine the elevation profile of a
                    linear feature, such as a road or trail.&nbsp;&nbsp;The application also allows users to save and print reports with
                    operational considerations and Best Management Practice recommendations.</p>
                <p class="mt-4 text-2xl underline"><a href="/assets/casestudy/PMLO_Exercise.pdf" target="_blank" rel="noopener noreferrer">Case Study Exercise</a></p>
                <p class="text-2xl underline"><a href="/assets/casestudy/FairchildSF.zip" rel="noopener noreferrer">Exercise Data - FairchildSF.zip</a></p>
            </div>

            <div class="disclaimerContainer text-sm"><p><i>Disclaimer: This website is provided by the Texas A&M Forest Service to help users plan operations on a project area.&nbsp;&nbsp;In providing information on this site, we attempt to be as accurate as possible.&nbsp;&nbsp;However, the Texas Forest Service makes no claims, guarantees, or promises about the accuracy or completeness of the information provided.&nbsp;&nbsp;Information contained on this site should not be construed as giving business, legal, or other advice.</i></p></div>

        </div>
    </div>
</main>