<div
  [hidden]="!((selectedGraphics.length > 0 && (geomType === 'polygon' || geomType === 'circle' || geomType === 'polyline')) || drawingTool === 'polygon' || drawingTool === 'circle' || drawingTool === 'polyline')">
  <br>
  <fieldset>
    <legend>Line Style</legend>
    <div style="display: flex;">
      <div style="flex-grow: 1;">
        Line type:<br>

        <mat-select [(ngModel)]="lineProps.style" class="matSelect" (selectionChange)="changeGraphicsStyle()">
          <mat-select-trigger>
            <svg-icon *ngIf="lineProps.style !== 'none'" [src]="'assets/linesymbols/symbols-sls-'+lineProps.style+'.svg'"
              [svgStyle]="lineSvgStyle">
            </svg-icon>
            <span *ngIf="lineProps.style === 'none'">None</span>
          </mat-select-trigger>
          <mat-option *ngFor="let style of lineStyles" [value]="style">
            <svg-icon *ngIf="style !== 'none'" [src]="'assets/linesymbols/symbols-sls-'+style+'.svg'"
              [svgStyle]="lineSvgStyle">
            </svg-icon>
            <span *ngIf="style === 'none'">None</span>
          </mat-option>
        </mat-select>
      </div>
      <div>
        <app-color-picker [color]="lineProps.color" [opacity]="lineProps.color.a * 100"
          (colorSelected)="changeLineColor($event)">
        </app-color-picker>
      </div>
    </div>
    <div class="marginTop10px">
      Width: {{lineProps.width}}px<br>
      <div class="widthSliderContainer">
        1 &nbsp;<app-slider class="widthSlider" [value]="lineProps.width" [min]="1" [max]="10"
          (onChange)="changeLineWidth($event)" (onChangeCompleted)="changeLineWidthComplete($event)"></app-slider>
        &nbsp;10
      </div>
    </div>

  </fieldset>
</div>
