.legendFieldset {
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    padding: 0.3125em;
}

.legendSymbol {
    min-width: 1.875em;
    height: 1.5em;
    border: 1px solid black;
}