@import '../../styles/sidebar.scss';
.infoBtn {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    right: 2px;
    position: absolute;
    top: -2px;
}

.smallIcon {
    font-size: 20px;
    color: gray;
}
.smallIcon:hover {
    color: black;
}

.drawModeBtn {
    display: flex;
    height: 50px;
}