<div>
  <br>
  <fieldset>
    <legend>Point Style</legend>
    <div class="marginTop10px">
      Shape <br>
      <div id="shapes">
        <label *ngFor="let symbol of markerStyles" class="labelCls">
          <input type="radio" name="shapes" [value]="symbol" aria-label="tes" [(ngModel)]="pointSymbol"
            (ngModelChange)="changePointShapeEvt($event)" />
          <span>
            <svg-icon [src]="'assets/pointsymbols/'+symbol.name+'.svg'" class="toggleBtn" [svgStyle]="fillSvgStyle2">
            </svg-icon>
          </span>
        </label>
      </div>

    </div>
    <br>
    <div class="flex colorDiv verticalCenter">Color:
      <app-color-picker [color]="markerProps.color" [opacity]="markerProps.color.a * 100"
        (colorSelected)="changePointColor($event)">
      </app-color-picker>
    </div>

    <div class="marginTop10px">
      Size: {{markerSize}}px<br>
      <div class="widthSliderContainer">
        5 &nbsp;<app-slider class="widthSlider" [value]="markerSize" [min]="5" [max]="50"
          (onChange)="changeMarkerSize($event)"></app-slider>
        &nbsp;50
      </div>
    </div>
  </fieldset>
</div>
