<main>
    <header class="row">
      <span style="flex: 1;"></span>
      <button title="undo" [disabled]="disableUndo$ | async" (click)="undo()">Undo</button>
      <button class="flip" title="redo" [disabled]="disableRedo$ | async" (click)="redo()">Redo</button>
    </header>
    <div class="row todo-in-row">
      <input #in type="text" tab-index="1" placeholder="What's todo?"/>
      <button (click)="add(in.value)">Add</button>
    </div>
    <span>
        {{graphics$ | async }}
    </span>
    <div class="row todo-row" *ngFor="let t of graphics$ | async">
      
        {{ t.id }}
      
    </div>
  </main>