@import '../palettes/pmlo.theme.palette.scss';
@include mat-core();
@import '../functions';
@import '../_variables';
@import '../layout';

$pmlo-light-theme: mat-light-theme($pmlo-primary, $pmlo-accent, $pmlo-warn);
$pmlo-foreground: my-mat-theme-foreground(mat-color($pmlo-primary, 700));

$pmlo-theme: map-merge(
  $pmlo-light-theme,
  (
    foreground: $pmlo-foreground,
  )
);

.pmlo-theme {
  .mat-expansion-panel-header {
    background-color: mat-color($pmlo-primary, 900) !important;
    color: white !important;
  }

  @include angular-material-theme($pmlo-theme);
}
