@import '../../styles/pmlo-shared-styles.scss';

.plusSign {
    margin-right: 0.5rem;
    font-size: 1.25rem;
    width: 0.75rem;
    align-self: center;
    cursor: pointer;
}

.saSymbol {
    width: 1.875rem;
    height: 1.25rem;
    // margin-left: auto;
    // margin-top: 0.3125rem;
    // margin-bottom: 0.3125rem;
    margin: 0.3125rem 0.625rem 0.3125rem auto;
    border: 1px solid black;
}

.streamLegend {
    border: none !important;
}

.streamColor {
    color: #005ce6;
    font-weight: 700;
    font-size: 1rem;
}

.smzBack {
    background-color: #ffff00;
}

.slopeBack {
    background-color: #ff0000;
}

.wetBack {
    background-color: #6699cd;
}

.wetBufferBack {
    background-color: #444f89;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
}

.subMenuContainer {
    margin-left: 1rem;
    margin-right: 1rem;
}

.subMenuContainer input {
    max-width: 3.25rem;
}

// .subMenuContainer mat-form-field {
//     width: 2.5rem;
//     margin-right: 0.625rem;
// }

.pmlo-button {
    align-self: center;
}

.prefix-margin {
    margin-right: 0.625rem;
}

.generalBtn, .reportTitleContainer {
    width: 100%;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

.reportTitleContainer .mat-form-field-wrapper {
    padding-bottom: 1rem;
}

.mat-slider-horizontal {
    height: 100%;
    width: 80%;
}