  <div class="py-3">
    <mat-icon class="smallIcon right">help</mat-icon>
    <br>
    <ng-container *ngIf="state == 'noBoundary'">
      <p>A drawn boundary is needed to be able to calculate sensitive areas.</p>
    </ng-container>
    <ng-container *ngIf="state == 'clipping'">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p>Clipping Sensitive Areas...</p>
      <p>The clipping of the sensitive areas is in progress. Pleas wait.</p>
    </ng-container>
    <ng-container>
      <div>
        Transparency<br>
      </div>
      <div class="flex justify-between items-baseline mb-2">
        <div>0</div>
        <mat-slider class="mat-slider-has-ticks" [thumbLabel]="true" [value]="sliderValue"
          (input)="updateSliderValue($event.value)" step="5" min="0" max="100">
        </mat-slider>
        <div>100</div>
      </div>
      <div class="flex items-center">
        <div class="plusSign"></div>
        <label class="inline-flex">
          <input type="checkbox" class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary" [attr.checked]="streamsChkboxValue" [(ngModel)]="streamsChkboxValue"
            (change)="updateGraphicOpacity($event.target.checked, 'streams')">
          <span class="checkbox-label">Streams</span>
        </label>

        <div class="saSymbol streamLegend">
          <div class="streamColor">&ndash;&ndash;&ndash;</div>
        </div>
      </div>
      <div class="flex items-center">
        <div class="plusSign" (click)="streamCollapsed = !streamCollapsed">
          <span *ngIf="streamCollapsed">+</span>
          <span *ngIf="!streamCollapsed">&ndash;</span>
        </div>
        <label class="inline-flex">
          <input type="checkbox" class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary" [attr.checked]="smzChkboxValue" [(ngModel)]="smzChkboxValue"
            (change)="updateGraphicOpacity($event.target.checked, 'smz')">
          <span class="checkbox-label">(SMZ)</span>
        </label>

        <div class="saSymbol smzBack"></div>
      </div>
      <div class="flex" *ngIf="!streamCollapsed">
        <div class="subMenuContainer">
          <mat-form-field class="example-form-field">
            <mat-label>Feet</mat-label>
            <input matInput type="number" min="0" [value]="smzBufferValue" aria-label="smz buffer radius"
              (input)="smzBufferValue = $event.target.value">
          </mat-form-field>
        </div>
        <button mat-raised-button color="accent" class="pmlo-button" (click)="bufferGraphic('smz')">Buffer</button>
      </div>
      <div class="flex items-center">
        <div class="plusSign" (click)="slopeCollapsed = !slopeCollapsed">
          <span *ngIf="slopeCollapsed">+</span>
          <span *ngIf="!slopeCollapsed">&ndash;</span>
        </div>

        <label class="inline-flex">
          <input type="checkbox" class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary" [attr.checked]="slopesChkboxValue" [(ngModel)]="slopesChkboxValue"
            (change)="updateGraphicOpacity($event.target.checked, 'slopes')">
          <span class="checkbox-label">Slopes (>8%)</span>
        </label>

        <div class="saSymbol slopeBack"></div>
      </div>
      <div class="flex" *ngIf="!slopeCollapsed">
        <div class="subMenuContainer">
          <span class="prefix-margin">&lt;</span>
          <mat-form-field class="example-form-field">
            <mat-label>Percent</mat-label>
            <input matInput type="number" [value]="slopeValue" (input)="slopeValue = $event.target.value" aria-label="slope">
          </mat-form-field>
        </div>
        <button mat-raised-button color="accent" class="pmlo-button" (click)="setSlope('slopes')">Set</button>
      </div>
      <div class="flex items-center">
        <div class="plusSign" (click)="wetCollapsed = !wetCollapsed">
          <span *ngIf="wetCollapsed">+</span>
          <span *ngIf="!wetCollapsed">&ndash;</span>
        </div>

        <label class="inline-flex">
          <input type="checkbox" class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary" [attr.checked]="wetAreasChkboxValue" [(ngModel)]="wetAreasChkboxValue"
            (change)="updateGraphicOpacity($event.target.checked, 'wetlands')">
          <span class="checkbox-label">Wet Areas</span>
        </label>

        <div class="saSymbol wetBack"></div>
      </div>
      <div class="flex" *ngIf="!wetCollapsed">
        <div class="subMenuContainer">
          <mat-form-field class="example-form-field">
            <mat-label>Feet</mat-label>
            <input matInput type="number" min="0" [value]="wetlandsBufferValue" aria-label="buffer radius"
              (input)="wetlandsBufferValue = $event.target.value">
          </mat-form-field>
        </div>
        <button mat-raised-button color="accent" class="pmlo-button"
          (click)="bufferGraphic('wetlandsBuffer')">Buffer</button>
        <div class="saSymbol wetBufferBack"></div>
      </div>

      <div class="flex mt-3">
        <button mat-raised-button class="pmlo-button generalBtn" (click)="clearSMZGraphics()">Clear Layer</button>
      </div>

      <div class="flex mt-3">
        <mat-form-field class="reportTitleContainer">
          <mat-label>Report Title</mat-label>
          <input matInput type="text" [(ngModel)]="reportTitle" maxlength="40" aria-label="report title">
        </mat-form-field>
      </div>

      <div class="flex mt-3">
        <button type="button" mat-raised-button color="accent" class="pmlo-button generalBtn"
          (click)="buildSMZReport()">Create a Report</button>
      </div>
    </ng-container>
  </div>
