  <div class="py-3">
    <app-help-button [header]="'Sensitive Areas'" [itemName]="'sensAreas'"></app-help-button> <br>
      <div>
        Transparency<br>
      </div>
      <div class="flex justify-between items-baseline mb-2">
        <div>0</div>
        <mat-slider class="mat-slider-has-ticks" [thumbLabel]="true" [value]="sliderValue"
          (input)="updateSliderValue($event.value)" step="5" min="0" max="100">
        </mat-slider>
        <div>100</div>
      </div>
      <div class="flex items-center">
        <div class="plusSign"></div>
        <label class="inline-flex cursor-pointer">
          <input type="checkbox" class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary cursor-pointer" [attr.checked]="streamsChkboxValue" [(ngModel)]="streamsChkboxValue"
            (change)="updateGraphicOpacity($event.target.checked, 'streams')">
          <span class="checkbox-label">Streams</span>
        </label>

        <div class="saSymbol streamLegend">
          <div class="streamColor">&ndash;&ndash;&ndash;</div>
        </div>
      </div>
      <div class="flex items-center">
        <div class="plusSign" (click)="streamCollapsed = !streamCollapsed">
          <span *ngIf="streamCollapsed">+</span>
          <span *ngIf="!streamCollapsed">&ndash;</span>
        </div>
        <label class="inline-flex cursor-pointer">
          <input type="checkbox" class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary cursor-pointer" [attr.checked]="smzChkboxValue" [(ngModel)]="smzChkboxValue"
            (change)="updateGraphicOpacity($event.target.checked, 'smz')">
          <span class="checkbox-label">(SMZ)</span>
        </label>

        <div class="saSymbol smzBack"></div>
      </div>
      <div class="flex my-2" *ngIf="!streamCollapsed">
        <div class="subMenuContainer">
          <div class="flex">
            <div class="md-input-main">
              <div class="md-input-box">
                <input id="smzBufferValue" class="pmlo-md-input md-input" name="smzBufferValue" type="number" min="0"
                [(ngModel)]="smzBufferValue" placeholder=" " aria-label="s m z buffer radius" />
                <label for="smzBufferValue" class="md-label text-pmlo_primary">Feet</label>
                <div class="pmlo-md-input-underline md-input-underline"></div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="pmlo-btn pmlo-secondary sm-btn" (click)="bufferGraphic('smz')">Buffer</button>
      </div>
      <div class="flex items-center">
        <div class="plusSign" (click)="slopeCollapsed = !slopeCollapsed">
          <span *ngIf="slopeCollapsed">+</span>
          <span *ngIf="!slopeCollapsed">&ndash;</span>
        </div>

        <label class="inline-flex cursor-pointer">
          <input type="checkbox" class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary cursor-pointer" [attr.checked]="slopesChkboxValue" [(ngModel)]="slopesChkboxValue"
            (change)="updateGraphicOpacity($event.target.checked, 'slopes')">
          <span class="checkbox-label">Slopes (>{{slopeLabelValue}}%)</span>
        </label>

        <div class="saSymbol slopeBack"></div>
      </div>
      <div class="flex my-2 slopeBufferContainer" *ngIf="!slopeCollapsed">
        <div class="prefix-margin flex items-center greaterThan">&gt;</div>
        <div class="subMenuContainer flex">
          <div class="md-input-main">
            <div class="md-input-box">
              <input id="slopeInput" class="pmlo-md-input md-input" name="slopeInput" type="number" min="0"
              [(ngModel)]="slopeValue" placeholder=" " aria-label="slope percent" />
              <label for="slopeInput" class="md-label text-pmlo_primary">Percent</label>
              <div class="pmlo-md-input-underline md-input-underline"></div>
            </div>
          </div>
        </div>
        <button type="button" class="pmlo-btn pmlo-secondary sm-btn" (click)="setSlope('slopes')">Set</button>
      </div>
      <div class="flex items-center">
        <div class="plusSign" (click)="wetCollapsed = !wetCollapsed">
          <span *ngIf="wetCollapsed">+</span>
          <span *ngIf="!wetCollapsed">&ndash;</span>
        </div>

        <label class="inline-flex cursor-pointer">
          <input type="checkbox" class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary cursor-pointer" [attr.checked]="wetAreasChkboxValue" [(ngModel)]="wetAreasChkboxValue"
            (change)="updateGraphicOpacity($event.target.checked, 'wetlands')">
          <span class="checkbox-label">Wet Areas</span>
        </label>

        <div class="saSymbol wetBack"></div>
      </div>
      <div class="flex mt-2" *ngIf="!wetCollapsed">
        <div class="subMenuContainer">
          <div class="md-input-main">
            <div class="md-input-box">
              <input id="wetBufferInput" class="pmlo-md-input md-input" name="wetBufferInput" type="number" min="0"
              [(ngModel)]="wetlandsBufferValue" placeholder=" " aria-label="buffer radius" />
              <label for="wetBufferInput" class="md-label text-pmlo_primary">Feet</label>
              <div class="pmlo-md-input-underline md-input-underline"></div>
            </div>
          </div>
        </div>
        <button type="button" class="pmlo-btn pmlo-secondary sm-btn"
          (click)="bufferGraphic('wetlandsBuffer')">Buffer</button>
        <div class="saSymbol wetBufferBack"></div>
      </div>

      <div class="flex mt-3">
        <button type="button" class="pmlo-btn generalBtn" (click)="clearSMZGraphics()">Clear Layer</button>
      </div>

      <div class="flex mt-3">
        <div class="md-input-main mx-3">
          <div class="md-input-box">
            <input id="saReportTitle" name="saReportTitle" type="text" class="pmlo-md-input md-input" placeholder=" "
              [(ngModel)]="reportTitle" maxlength="40" />
            <label for="saReportTitle" class="md-label text-pmlo_primary">Report Title</label>
            <div class="pmlo-md-input-underline md-input-underline"></div>
          </div>
        </div>
      </div>

      <div class="flex mt-3">
        <button type="button" class="pmlo-btn pmlo-secondary generalBtn"
          (click)="buildSMZReport()">Create a Report</button>
      </div>
  </div>
