@import '../../styles/pmlo-shared-styles.scss';

.plusSign {
    margin-right: 0.5em;
    font-size: 1.25em;
    width: 0.75em;
    align-self: center;
    cursor: pointer;
}

.saSymbol {
    width: 1.875em;
    height: 1.25em;
    margin: 0.3125em 0.625em 0.3125em auto;
    border: 1px solid black;
}

.streamLegend {
    border: none !important;
}

.streamColor {
    color: #005ce6;
    font-weight: 700;
    font-size: 1em;
}

.smzBack {
    background-color: #ffff00;
}

.slopeBack {
    background-color: #ff0000;
}

.wetBack {
    background-color: #6699cd;
}

.wetBufferBack {
    background-color: #444f89;
    margin-top: 1.3125em;
    margin-bottom: 1.3125em;
}

.slopeBufferContainer {
    position: relative;
}

.greaterThan {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    padding-left: 0.625em;
}

.subMenuContainer {
    margin-left: 1.5625em;
    margin-right: 1em;
}

.subMenuContainer input {
    max-width: 3.25em;
}

.prefix-margin {
    margin-right: 0.625em;
}

.reportTitleContainer {
    width: 100%;
    margin-right: 0.625em;
    margin-left: 0.625em;
}

.reportTitleContainer .mat-form-field-wrapper {
    padding-bottom: 1em;
}

.sm-btn {
    width: 3.75em;
}