@import url('https://js.arcgis.com/4.14/esri/css/main.css');
.mapViewNode {
    height: 100%;
    width: 100%;
}
.graphicsControls{
    position: absolute;
    bottom: 10px;
    z-index: 10;
    left: 0;
    right: 0;
}