<div #sidebar class="sidebarBlanket" [class.sidebarHidden]="!sidebarVisible">
  <div class="sidebar">
    <button class="sidebarToggle" (click)="sidebarVisible = !sidebarVisible" [class.sideOpen]="sidebarVisible">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" *ngIf="sidebarVisible"
       viewBox="0 0 448 512" class="showHideSvg rotate90" ><path _ngcontent-jrf-c86=""
        d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>
      {{sidebarVisible ? 'Hide': 'Show'}}
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" *ngIf="!sidebarVisible"
       viewBox="0 0 448 512" class="showHideSvg rotate270" ><path _ngcontent-jrf-c86=""
        d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>

      </button>
    <app-accordion>
      <app-accordion-panel title="Draw">
        <app-drawtools [sketchVM]="sketchVM" [mapView]="mapView" [textGraphicsLayer]="textGraphicsLayer"
        [geomLabelsSketchVM]= "geomLabelsSketchVM" [geomLabelsGraphicsLayer]="geomLabelsGraphicsLayer"
        [geomLabelsGraphicsLayer]="geomLabelsGraphicsLayer" [polygonGraphicsLayer]="polygonGraphicsLayer">
        </app-drawtools>
      </app-accordion-panel>

      <app-accordion-panel title="Themes">
        <app-mmp-themes [mapView]="mapView">
        </app-mmp-themes>
      </app-accordion-panel>

      <app-accordion-panel title="Import | Export">
        <app-import-export></app-import-export>
      </app-accordion-panel>

      <app-accordion-panel title="Export Map to PDF">
        <app-print-tool [map]="mapView"></app-print-tool>
      </app-accordion-panel>
    </app-accordion>

    <!-- <app-slider></app-slider> -->
  </div>

</div>
<div class="mapBlanket">
  <div class="headerBlanket hidden md:block">
    <div class="header headerRow secondary">
      <div #searchBar></div>
      <div class="coordsDisplay hidden md:inline">
        Mouse Coordinates [ {{mapCoords}} ]

        <div id="widgetDiv" class="esri-widget"></div>
      </div>
    </div>
  </div>
  <div class="translucentPadding mapViewNodeBlanket">
    <div #mapViewNode class="mapViewNode " id="parent">
      <div id="textboxes"></div>
      <app-basemap-widget [mapView]="mapView"></app-basemap-widget>
      <app-swipe-widget [mapView]="mapView"></app-swipe-widget>
    </div>
    <app-graphic-store #graphicsStore [sketchVM]="sketchVM" [textGraphicsLayer]="textGraphicsLayer"
      class="graphicsControls">
    </app-graphic-store>
  </div>
</div>
