@use "../../shared/styles/BodyFrame.scss";

$translucent: rgba(97, 117, 19, 0.5);
$accent: #161616;

.headerRow {
  background-color: $translucent;
  display: flex;
}
.secondary {
  background-color: $accent;
}

.sidebar {
  background-color: $accent;
  overflow-y: auto;
}
.headerBlanket,
.translucentPadding,
.sidebarBlanket {
  background-color: $translucent;
}
