<div #sidebar class="sidebarBlanket">
    <div class="sidebar">
        <app-sidebar>
            <app-drawtools [sketchVM]="sketchVM" [mapView]="mapView" [textGraphicsLayer]="textGraphicsLayer">
            </app-drawtools>
            <app-import-export></app-import-export>
            <app-print-tool [map]="mapView"></app-print-tool>
        </app-sidebar>
    </div>

</div>
<div class="mapBlanket">
    <div class="headerBlanket">
        <div class="header headerRow secondary" fxLayout="row">
            <div #searchBar></div>
            <div class="coordsDisplay">
                Mouse Coordinates [ {{mapCoords}} ]

                <div id="widgetDiv" class="esri-widget"></div>
            </div>
        </div>
    </div>
    <div class="translucentPadding mapViewNodeBlanket">
        <div #mapViewNode class="mapViewNode " id="parent">
            <div id="textboxes"></div>
        </div>
        <app-graphic-store #graphicsStore [sketchVM]="sketchVM" 
        [selectedGraphics]="selectedGraphics"
        [textGraphicsLayer] ="textGraphicsLayer"
            class="graphicsControls">
        </app-graphic-store>
    </div>
</div>