.imgIns {
    font-size: 0.75em;
}

.spacingImg {
    cursor: zoom-in;
}

.fw-600 {
    font-weight: 600;
}

.plotDirectionImg {
    width: 3.438em;
    cursor: pointer;
}

.selectedImage {
    border: 3px solid red;
}

.subMenuContainer {
    margin-right: 1em;
}

.subMenuContainer input {
    max-width: 3.25em;
}