<mat-toolbar role="toolbar" class="mapPopupHeader">
  <span> Map preview</span>
  <span class="fx-spacer"></span>
  <button mat-icon-button (click)="close()">
    <mat-icon mat-list-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content class="no-margin no-padding">
  <div #mapViewNode style="height: 500px; width: 100%;position: relative;">
    <button mat-raised-button color="accent" (click)="generatePDF()" class="printMapBtn">
      <mat-icon>print</mat-icon>
      Generate PDF
  </button>
  </div>
</div>