.centerAlign {
    align-items: center;
    justify-content: center;
    display: flex;
}
.task-header {
    background-color: transparent;
    padding: 0 5px;
     height: 20px;
}
.fx-spacer {
    flex: 1 1 auto;
}
.mapPopupHeader {
    background-color: gray;
}

.printMapBtn {
    width: 140px;
    position: absolute;
    top: 4px;
    margin: auto;
    left: 0;
    right: 0;
}

.my-form-field .mat-form-field-wrapper{
    margin-bottom: -1.25em !important;
}

.mapViewNode {
  height: 500px;
  width: 600px;
  position: relative;
}
@media (max-width: 640px) {
  .mapViewNode {
    width: 90vw;
  }
}

.footer{
  display: flex;
  justify-content: center;
}
