

fieldset {
    position: relative;
    padding-top: 12px
}

.widthSlider {
    width: 80%;
    height: 20px;
}

.buttonActive {
    background-color: lightgray;
    border: 2px solid cyan;
    color: black;
}
.fontButtons {
    min-width: unset !important;
    width: 50px;
    margin: 2px;
}
