@use '../../styles/sidebar';

.importExportFormat {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 40px 40px;
  justify-content: center;
  margin-top: 10px;
}

.importBtns {
  display: grid;
  grid-template-columns: 110px 110px;
  grid-column-gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
.importExportFormat span {
  padding-left: 20px;
}

.btnIcon {
  @apply inline-flex items-center justify-center
}
