<div>
  <app-help-button [header]="'Import | Export'" [itemName]="'importExport'"></app-help-button> <br>
  <div class="importExportFormat">
    <span><input type="radio" name="format" [value]="'mmp'" [(ngModel)]="format" aria-label="MMP" /> &nbsp; MMP</span>
    <span><input type="radio" name="format" [value]="'shp'" [(ngModel)]="format" aria-label="SHP" /> &nbsp; SHP </span>
    <span><input type="radio" name="format" [value]="'kml'" [(ngModel)]="format" aria-label="KML" /> &nbsp; KML</span>
    <span><input type="radio" name="format" [value]="'gpx'" [(ngModel)]="format" aria-label="GPX" /> &nbsp; GPX</span>
  </div>

  <div class="importExportFormat2">
    <button class="btn-icon" (click)="chooseFile()" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-4 mr-1" fill="#FFF" height="24" viewBox="0 0 24 24"
        width="24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z" /></svg>
      <span>Import</span>
    </button>
    <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="*"
      style="display:none;" />
    <button class="btn-icon" (click)="export()" [disabled]="!exportEnabled" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-4 mr-1" fill="#FFF" height="24" viewBox="0 0 24 24"
        width="24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" /></svg>
      <span>Export</span>
    </button>
  </div>
</div>
