<div class="opened">
    <div class='opacitySliderContainer'>
        <mat-slider [thumbLabel]="true" class="opacitySlider"></mat-slider>
        <div class='opacitySliderBackground'></div>
    </div>


    <div class="colors">
        <div (click)="changeColor(paint)" *ngFor="let paint of defaultColors" class="circle"
            [ngStyle]="{'background': paint}"></div>
    </div>

    <div class="hex-code">
        <p>Hex Code</p>
        <div class="g-input">
            <input type="text" maxlength="7" [value]="color" (keyup)="changeColorManual(paintInput.value)"
                (keydown.enter)="closePopupWithColor(undefined)" #paintInput />
            <a (click)="openColorPalettee()"><u style="cursor: pointer;">Custom</u></a>
            <input type="color" #customColorInput style="visibility: hidden" [value]="color"
                (change)="changeColorCustom($event.srcElement.value)">
        </div>
    </div>
</div>