// .color-picker {
$radius: 5px;
$size: 40px;
.summary-info {
  $sizes: 40px;
  max-width: 240px;
  padding: 3px;
  border-radius: $radius;
  display: flex;
  cursor: pointer;
  width: $size;
  .info {
    width: calc(100% - 40px); //40px is $size
    p.style {
      color: #000;
      margin-bottom: 5px;
    }
    p.style-value {
      color: #595b65;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 10px;
    }
  }
}

.circle {
  height: $size;
  width: $size;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid #dadada;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}
.smallCircle {
  height: $size/1.2;
  width: $size/1.2;
}
.opened {
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
  background: #fff;
  max-width: 240px;
  padding: 15px;
  border-radius: $radius;
  position: relative;
  margin-top: 0px;
  border: 1px solid lightgray;
  &:after {
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    content: "";
    right: 50%;
    position: absolute;
    top: -20px;
    display: none;
  }

  .colors {
    display: flex;
    flex-wrap: wrap;

    .circle {
      flex: 40px 0 0;
      margin-right: 10px;
      margin-bottom: 10px;

      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }

  .hex-code {
    $height: 35px;
    display: flex;
    margin-top: 10px;
    align-items: center;

    .hexDiv {
      flex: 1;
      flex-grow: 1;
      align-items: center;
      display: flex;
      justify-content: space-around;
      div {
        flex: 1;
      }
    }

    .customColorOpener {
      text-align: right;
      width: 80px;
      input {
        width: 0;
      }
    }
    .g-input {
      border: 1px solid #e8ebed;
      height: $height;
      border-radius: $radius;
      max-width: 100px;

      input {
        border: none;
        width: 100%;
        text-transform: uppercase;
        outline: none;
        text-align: center;
        letter-spacing: 1.5px;
        color: #595b65;
        height: 100%;
        border-radius: $radius;
        margin: 0;
        padding: 0;
      }
    }
  }
}
.opacitySliderContainer {
  position: relative;
  height: 40px;
  width: 100%;
}
.opacitySliderBackground {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  position: absolute;
  bottom: 10px;
  height: 10px;
  width: 180px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.opacitySlider {
  height: 100%;
  width: 185px;
  position: absolute;
  z-index: 10;
}
// }
.transparentBackDropPopup {
  opacity: 0.5;
}
.opacityLabel {
  position: absolute;
  right: 0;
  display: flex;
  align-content: center;
  height: 40px;
  align-items: center;
}
