<button aria-label="undo" class="pmlo-btn pmlo-secondary storeBtn width60" (click)="undo()" type="button"
  [hidden]="(selectedGraphics && selectedGraphics.length > 0)"
  [disabled]="(sketchVM.state === 'ready') && (disableUndo$ | async)">
  <svg-icon [src]="'assets/icons/undo.svg'" [svgStyle]="fillSvgStyle">
  </svg-icon>
</button>

<button aria-label="Delete single graphics" class="pmlo-btn pmlo-warning storeBtn deleteBtn" (click)="delete()" type="button"
  [hidden]="!(selectedGraphics && selectedGraphics.length > 0)"
  [disabled]="!(selectedGraphics && selectedGraphics.length > 0)">
  <svg-icon [src]="'assets/icons/delete_all.svg'" [svgStyle]="fillSvgStyle">
  </svg-icon>Delete
</button>

<button aria-label="Delete All" class="pmlo-btn pmlo-warning storeBtn deleteBtn" (click)="deleteAll()" type="button"
  [hidden]="!((sketchVM.layer.graphics.length > 0) || (textGraphicsLayer.graphics.length >0))"
  [disabled]="!((sketchVM.layer.graphics.length > 0) || (textGraphicsLayer.graphics.length >0))">
  <svg-icon [src]="'assets/icons/delete_all.svg'" [svgStyle]="fillSvgStyle">
  </svg-icon>Delete All
</button>

<button aria-label="edit save" class="pmlo-btn pmlo-secondary storeBtn saveBtn" (click)="startEditing()" type="button"
  [hidden]="!(selectedGraphics && selectedGraphics.length > 0)"
  [disabled]="!(selectedGraphics && selectedGraphics.length > 0)">
  <span *ngIf="selectedGraphics.length > 0">
    <span *ngIf="selectedGraphics[0].geometry.type !== 'point'" class="flexCenter">
      <svg-icon [src]="'assets/icons/save.svg'" [svgStyle]="fillSvgStyle" *ngIf="sketchVM.activeTool === 'reshape'">
      </svg-icon>
      <svg-icon [src]="'assets/icons/edit.svg'" [svgStyle]="fillSvgStyle" *ngIf="!(sketchVM.activeTool === 'reshape')">
      </svg-icon>
      &nbsp;{{sketchVM.activeTool === 'reshape' ? ' Save': ' Edit'}}
    </span>
    <span *ngIf="selectedGraphics[0].geometry.type === 'point'" class="flexCenter">
      <svg-icon [src]="'assets/icons/save.svg'" [svgStyle]="fillSvgStyle">
      </svg-icon>
      &nbsp;Save
    </span>
  </span>
</button>


<button aria-label="redo" class="pmlo-btn pmlo-secondary storeBtn width60" (click)="redo()" type="button"
  [hidden]="(selectedGraphics && selectedGraphics.length > 0)"
  [disabled]="(sketchVM.state === 'ready') && (disableRedo$ | async)">
  <svg-icon [src]="'assets/icons/redo.svg'" [svgStyle]="fillSvgStyle">
  </svg-icon>
</button>
