// @import "./app/shared/styles/themes.scss";
@import './app/shared/styles/CustomSlider.scss';
@import './app/shared/styles/themes/mmp.theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
// .primaryBg {
//   background: mat-color($mmp-primary);
// }

[hidden] {
  display: none !important;
}

@media screen and (max-width: 375px) {
  .mat-toolbar-row {
    padding: 0 !important;
  }
}
.mat-expansion-panel-body {
  padding: 0 4px 6px !important;
}

.material-icons {
  font-size: 21px !important;
}

.accordion-header-fill > .mat-expansion-indicator::after {
  color: rgba(255, 255, 255, 1);
}
.mat-raised-button {
  height: 35px !important;
  line-height: 35px !important;
}

.esri-ui-bottom-right {
  flex-flow: column-reverse !important;
}
.flex {
  display: flex;
}
