<main class="parentContainer">
  <app-header></app-header>
  <div class="dashboardContainer">


    <div class="dashEntry pmlo">
      Plan My Land Operation
      <img class="coverImage" src="assets/pmlo.jpg" alt="plan my land operation" />
      <div class="description">
        Map My Property provides landowners and other interested users a quick and simple tool for making a map of their
        property that can be shared with others.

        <br><br>
        Best use cases<br>

        <button class="tag">Plan Building</button>
        <button class="tag">Prescribed Burns</button>
        <button class="tag">Ranch planning</button>
      </div>
      <button routerLink="/pmlo">BEGIN</button>
    </div>
    <div class="dashEntry mmp">
      Map My Property
      <img class="coverImage" src="assets/mmp.jpg" alt="map my property" />
      <div class="description">
        Map My Property provides landowners and other interested users a quick and simple tool for making a map of their
        property that can be shared with others.

        <br><br>
        Best use cases<br>

        <button class="tag">Plan Building</button>
        <button class="tag">Prescribed Burns</button>
        <button class="tag">Ranch planning</button>
      </div>
      <button routerLink="/mapmyproperty">BEGIN</button>
    </div>
    <div class="dashEntry drawmyranch">
      <div>Draw My Ranch</div>

      <img class="coverImage" src="assets/drawmyranch.jpg" alt="draw my ranch" />
      <div class="description">
        Map My Property provides landowners and other interested users a quick and simple tool for making a map of their
        property that can be shared with others.

        <br><br>
        Best use cases<br>

        <button class="tag">Plan Building</button>
        <button class="tag">Prescribed Burns</button>
        <button class="tag">Ranch planning</button>
      </div>

      <button routerLink="/drawmyranch">BEGIN</button>
    </div>
  </div>
  <footer>©2020 Texas A&M Forest Service | Accessibility, Site Policies &amp; Public Notices</footer>
</main>
