<mat-expansion-panel [expanded]="true" color="black">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Draw
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
        <br>
        <div class="centerAlign">
            <mat-button-toggle-group [(ngModel)]="drawingTool" (change)="startDrawingGraphics($event.value)">
                <mat-button-toggle value="circle" aria-label="Circle" class="toggleBtn">
                    <mat-icon>radio_button_unchecked</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="polyline" aria-label="Line" class="toggleBtn">
                    <mat-icon>show_chart</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="polygon" aria-label="Polygon" class="toggleBtn">
                    <i class="customicon-untitled"></i>
                </mat-button-toggle>
                <mat-button-toggle value="point" aria-label="Point" class="toggleBtn">
                    <mat-icon>fiber_manual_record</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="text" aria-label="Text" class="toggleBtn">
                    Tt
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <br>
        <fieldset>
            <legend>Drawing mode</legend>
            <div class="centerAlign">
                <button mat-icon-button
                    matTooltip="Specifies how vertices are added while the graphic can be created. Applies only while creating polygon, polyline and circle geometries."
                    aria-label="info button" [matTooltipPosition]="'left'" class="infoBtn">
                    <mat-icon class="smallIcon">info</mat-icon>
                </button>
                <mat-button-toggle-group name="drawingMode" aria-label="Drawing Mode" [(ngModel)]="drawingMode"
                    (change)="changeDrawingMode($event)">

                    <mat-button-toggle value="click" class="drawModeBtn">Click</mat-button-toggle>
                    <mat-button-toggle value="freehand" class="drawModeBtn">FreeHand</mat-button-toggle>
                    <mat-button-toggle value="hybrid" class="drawModeBtn" [disabled]="drawingTool === 'circle'">Hybrid
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <div
                    [hidden]="!((drawingTool === 'circle') && (drawingMode === 'click')) && !(selectedGraphicsGeometry === 'circle')">
                    <mat-form-field appearance="outline" class="radiusInput">
                        <input matInput placeholder="Radius" type="number" [(ngModel)]="radius" #radiusInput
                            (keyup.enter)="radiusChangedEnter($event)" (blur)="radiusBlurred($event)">
                    </mat-form-field>
                    &nbsp; Miles
                </div>
            </div>
        </fieldset>



        <br>
        <fieldset>
            <legend>Line Style</legend>

            <button mat-icon-button matTooltip="Specifies how the outline of the geometry is styled."
                aria-label="info for line style" [matTooltipPosition]="'left'" class="infoBtn">
                <mat-icon class="smallIcon">info</mat-icon>
            </button>
            <div style="display: flex;">
                <div style="flex-grow: 1;">
                    Line type:<br>

                    <mat-select [(ngModel)]="lineProps.style" class="matSelect"
                        (selectionChange)="changeGraphicsStyle()">
                        <mat-select-trigger>
                            <svg-icon *ngIf="lineProps.style !== 'none'"
                                [src]="'assets/icons/symbols-sls-'+lineProps.style+'.svg'" [svgStyle]="lineSvgStyle">
                            </svg-icon>
                            <span *ngIf="lineProps.style === 'none'">None</span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let style of lineStyles" [value]="style">
                            <svg-icon *ngIf="style !== 'none'" [src]="'assets/icons/symbols-sls-'+style+'.svg'"
                                [svgStyle]="lineSvgStyle">
                            </svg-icon>
                            <span *ngIf="style === 'none'">None</span>
                        </mat-option>
                    </mat-select>
                </div>
                <div>
                    <app-color-picker [color]="lineProps.color" [opacity]="lineProps.opacity"
                        (colorSelected)="changeLineColor($event)">
                    </app-color-picker>
                </div>
            </div>
            <div>
                Width<br>
                0 &nbsp;<mat-slider class="widthSlider mat-slider-has-ticks" [thumbLabel]="true" step="1"
                    tickInterval="1" (change)="changeGraphicsStyle()" [(ngModel)]="lineProps.width" min="0" max="10">
                </mat-slider> &nbsp;10
            </div>
        </fieldset>
        <fieldset>
            <legend>Fill Style</legend>

            <button mat-icon-button matTooltip="Specifies how the inside(fill) of the geometry is styled."
                aria-label="info for fill style" [matTooltipPosition]="'left'" class="infoBtn">
                <mat-icon class="smallIcon">info</mat-icon>
            </button>
            <div style="display: flex;">
                <div style="flex-grow: 1;">
                    Pattern :<br>
                    <mat-select [(ngModel)]="fillProps.style" class="matSelect"
                        (selectionChange)="changeGraphicsStyle()">
                        <mat-select-trigger>
                            <svg-icon *ngIf="fillProps.style !== 'none'"
                                [src]="'assets/icons/symbols-sfs-'+fillProps.style+'.svg'" [svgStyle]="fillSvgStyle">
                            </svg-icon>
                            <span *ngIf="fillProps.style === 'none'">None</span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let style of fillStyles" [value]="style">
                            <span *ngIf="style === 'none'">None</span>
                            <svg-icon *ngIf="style !== 'none'" [src]="'assets/icons/symbols-sfs-'+style+'.svg'"
                                [svgStyle]="fillSvgStyle">
                            </svg-icon>

                        </mat-option>
                    </mat-select>
                </div>
                <div>
                    <app-color-picker [color]="fillProps.color" [opacity]="fillProps.opacity"
                        (colorSelected)="changeFillColor($event)">
                    </app-color-picker>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>Text Style</legend>

            <button mat-icon-button matTooltip="Specifies how the text is styled." aria-label="info for fill style"
                [matTooltipPosition]="'left'" class="infoBtn">
                <mat-icon class="smallIcon">info</mat-icon>
            </button>

            <div style="display: flex; justify-content: center;">
                <button class="fontButtons" mat-raised-button [ngClass]="{buttonActive: fontProps.weight === 'bold'}"
                    (click)="fontProps.weight = fontProps.weight === 'bold' ? 'normal': 'bold'"><b>B</b></button>
                <button class="fontButtons" mat-raised-button [ngClass]="{buttonActive: fontProps.decoration === 'underline'}"
                    (click)="fontProps.decoration = fontProps.decoration === 'underline' ? 'none': 'underline'"><u>U</u></button>
                <button class="fontButtons" mat-raised-button [ngClass]="{buttonActive: fontProps.style === 'italic'}"
                    (click)="fontProps.style = fontProps.style === 'italic' ? 'none': 'italic'"><i>I</i></button>


            </div>
            <div>Color: 
                <app-color-picker [color]="fillProps.color" [opacity]="fillProps.opacity"
                    (colorSelected)="changeFillColor($event)">
                </app-color-picker>
            </div>


            <div>
                Font Size<br>
                0 &nbsp;<mat-slider class="widthSlider mat-slider-has-ticks" [thumbLabel]="true" step="5"
                    (change)="changeGraphicsStyle()" [(ngModel)]="textProps.width" min="0" max="50">
                </mat-slider> &nbsp;10
            </div>
        </fieldset>
    </div>
    <!-- <div style="background: red; color:white">Works almost. not perfect !!!. Wait a day or so</div> -->
</mat-expansion-panel>