<div>
  <div class="centerAlign">
    <app-help-button [header]="'Draw'" [itemName]="'draw'"></app-help-button>
    <br>
    Select a drawing tool:<br>
    <div class="toggleRadios">
      <label *ngFor="let symbol of drawToolOptions">
        <input type="radio" name="shapes" [value]="symbol" aria-label="tes" [(ngModel)]="drawingTool"
          (ngModelChange)="startDrawingGraphics($event, true)" />
        <span>
          <svg-icon [src]="'assets/icons/'+symbol+'.svg'" [svgStyle]="{'width.px': 25, fill: 'black'}">
          </svg-icon>
        </span>
      </label>
    </div>

    <button class="pmlo-btn pmlo-secondary clearDrawTools" *ngIf="drawingTool !== ''"
      (click)="clearDrawTools()">Cancel Drawing</button>
  </div>
  <br><div *ngIf="!(drawingTool === 'point' || drawingTool === 'text')" class="centerAlign">
    <input type="checkbox" (change)="toggleLabels()" value="show" id="toggleLabels" checked class="m-auto form-checkbox h-5 w-5 text-pmlo_secondary cursor-pointer"
      aria-label="show/hide area labels">
    <label for="toggleLables">&nbsp;&nbsp; Area/Distance labels</label><br>
  </div>


  <div *ngIf="selectedLabelsGraphics.length>0">
    <br>
    Color of the selected label:
    <app-color-picker [color]="selectedLabelsGraphics[0].graphic.attributes.symbol.color"
      [opacity]="selectedLabelsGraphics[0].graphic.symbol.color.a*100" [autoClose]="true"
      (colorSelected)="changeLabelsColor($event)">
    </app-color-picker>
  </div>

  <app-pointcontrol #pointcontrol [selectedGraphics]="selectedGraphics"
    [hidden]="!((selectedGraphics.length > 0 && selectedGraphics[0].geometry.type=== 'point') || drawingTool === 'point')">
  </app-pointcontrol>

  <div [hidden]="!(['polygon', 'circle', 'polyline'].indexOf(drawingTool) > -1)">
    <br>
    <fieldset>
      <legend>Drawing Mode</legend>
      <div class="centerAlign toggle-buttons">
        <label *ngFor="let drMode of drawModes" class="drLabels"
          [ngClass]="{drLabelSelected: drMode === drawingMode, drHidden: (drMode === 'hybrid' && drawingTool === 'circle')}">
          <input type="radio" name="drawingMode" [value]="drMode" [(ngModel)]="drawingMode"
            (ngModelChange)="changeDrawingMode($event)" aria-label="draw mode" />
            <span *ngIf="drawingTool === 'circle' && drMode === 'click'">Radius</span>
            <span *ngIf="!(drawingTool === 'circle' && drMode === 'click')">{{drMode | titlecase }}</span>

        </label>
      </div>

    </fieldset>

  </div>
  <div>
    <div class="centerAlign ">
      <div class="radiusDiv"
        [hidden]="!((drawingTool === 'circle') && (drawingMode === 'click')) && !(selectedGraphicsGeometry === 'circle' && selectedGraphics.length > 0)">
        Radius: &nbsp;&nbsp;
        <input type="number" [(ngModel)]="radius" #radiusInput class="radiusInput" (keyup.enter)="radiusChangedEnter()"
          (blur)="radiusBlurred()" aria-label="radius">
        &nbsp; Miles
      </div>
    </div>
  </div>


  <app-linestyle #linestyle [selectedGraphics]="selectedGraphics" [drawingTool]="drawingTool"
    (changedGraphicsStyle)="changeGraphicsStyle()">
  </app-linestyle>

  <app-fillstyle #fillstyle [selectedGraphics]="selectedGraphics" [drawingTool]="drawingTool"
    (changedGraphicsStyle)="changeGraphicsStyle()">
  </app-fillstyle>
  <br>
  <app-textcontrols #textcontrols [selectedTextGraphics]="selectedTextGraphics"
    [hidden]="!(selectedTextGraphics.length>0 || drawingTool === 'text')"></app-textcontrols>


</div>
