@import '../../styles/sidebar.scss';

.mat-option {
  padding: 0 !important;
}

.customicon-untitled:before {
  content: '\0042';
}
.radiusInput {
  width: 80px;
  height: 40px;
}
.toggleBtn {
  width: 40px;
}

.drawModeBtn {
  width: 65px;
}

.centerAlign {
  text-align: center;
}
.infoBtn {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    right: 2px;
    position: absolute;
    top: -2px;
}